<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="container" fxFlex="30%" flex-wrap: wrap fxFlex.xs="100%">
    <div fxLayout="column">
      <mat-card-title>
        <span class="blue">F</span>
        <span class="red">u</span>
        <span class="gold">n</span>
        <span class="blue">d</span>
        <span class="green">o</span>
        <span class="red">o</span>
      </mat-card-title>
      <mat-card-content style="font-size: 22px;">Sign in</mat-card-content>
      <mat-card-content style="font-size: 18px;">Use your fundoo account</mat-card-content>
    </div>
    <form [formGroup]="login">
      <mat-card-content>
        <div fxLayout="column" fxFlex="100" class="1">
          <div fxLayout="column" fxLayoutAlign="center">
            <mat-form-field appearance="outline">
              <mat-label>Email Id</mat-label>
              <input matInput placeholder="emailId" id="Emailid" name="emailId" formControlName="email"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required>
              <mat-icon matSuffix>email</mat-icon>
              <mat-error *ngIf="login.hasError('required', ['email'])">
                Email is required
              </mat-error>
              <mat-error *ngIf="login.hasError('email', ['email'])">
                Enter valid email
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="column" fxLayoutAlign="center">
            <mat-form-field appearance="outline">
              <mat-label>password</mat-label>
              <input matInput placeholder="Password" id="pswd" formControlName="password" [type]="hide ? 'password' : 'text'"
                type="password" name="password" required [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}
              </mat-icon>
              <mat-error *ngIf="login.hasError('required', ['password'])">
                Password is required
              </mat-error>
              <mat-error *ngIf="login.hasError('minLength(6)', ['password'])">
                Enter a strong password
              </mat-error>
            </mat-form-field>
            <div fxLayoutAlign="start none">
              <button mat-button class="nameCss" routerLink='/forgotpassword'>Forgot Password ?</button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </form>
    
    <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center" style="margin-bottom: 5px;">
      <button mat-raised-button style="margin-right: 2px;" name="Register" id="rgstr" class="buttonCss" routerLink='/registration'>Create Account</button>
      <button mat-raised-button class="buttonCss" id="login" name="Login"style="margin: 0 0;" (click)=Login()>Login</button>
    </mat-card-actions>
  
  </mat-card>
</div>