<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="container" fxFlex="30%" flex-wrap: wrap fxFlex.xs="100%">
      <div fxLayout="column">
        <mat-card-title>
          <span class="blue">F</span>
          <span class="red">u</span>
          <span class="gold">n</span>
          <span class="blue">d</span>
          <span class="green">o</span>
          <span class="red">o</span>
        </mat-card-title>
        <mat-card-content style="font-size: 22px;">Sign in</mat-card-content>
        <mat-card-content style="font-size: 18px;">Use your fundoo account</mat-card-content>
      </div>
      <form [formGroup]="reset">
        <mat-card-content>
          
            <div fxLayout="column" fxLayoutAlign="center">
                <mat-form-field appearance="outline">
                    <mat-label>password</mat-label>
                    <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'"
                      type="password" name="password" required [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}
                    </mat-icon>
                    <mat-error *ngIf="reset.hasError('required', ['password'])">
                      Password is required
                    </mat-error>
                    <mat-error *ngIf="reset.hasError('minLength(6)', ['password'])">
                      Enter a strong password
                    </mat-error>
                  </mat-form-field>
            </div>
          

        </mat-card-content>
      </form>
      
      <mat-card-actions fxLayout="row" fxLayoutAlign="center center" style="margin-bottom: 5px;">
        <button mat-raised-button class="buttonCss" style="margin: 0 0;" (click)=ResetPassword()>Reset Password</button>
      </mat-card-actions>
    
    </mat-card>
  </div>

